.DropDownMenu
{
    
    position: fixed;
    right: 0px;
    top: 90px;
    height: 500px;
    width: 200px;
    background-color: lightblue;
    opacity: 0;
    transition: 0.5s;
    z-index: 200;
    border-radius: 0px 0px 20px 20px;

}

.hideDDMShowers
{
    display: none;
}



.DDMgrid
{
    
    display: flex;
    justify-content: center;
    align-content: center;
}

.CharacterButton, .Diorama
{
    height: 50px;
    width: 200px;
    position: absolute;
    background-color: lightblue;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    transition: .3s;
}

.DDMbtn:hover
{
    color: gray;
}

.CharacterButton
{
    top: 10px;
    left: 50px;
}

.Diorama
{
    top: 70px;
    left: 55px;
}
